* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
main .desktopImg {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
main .desktopImg img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
main .navbarBottom {
  height: 8vh;
  width: 100vw;
  background-color: transparent;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  bottom: 0;
}
main .navbarBottom .windowImg, main .navbarBottom .fileImg, main .navbarBottom .chromeImg, main .navbarBottom .edgeImg, main .navbarBottom .storeImg {
  height: 50px;
  width: 50px;
}
main .navbarBottom .windowImg img, main .navbarBottom .fileImg img, main .navbarBottom .chromeImg img, main .navbarBottom .edgeImg img, main .navbarBottom .storeImg img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
main #customMenu {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  display: none;
  position: absolute;
  color: rgb(52, 52, 52);
  background-color: rgb(184, 184, 184);
  border: 1px solid rgb(117, 117, 117);
  padding: 2px;
  z-index: 9;
  height: 40vh;
  width: 16vw;
  border-radius: 10px;
}
main #customMenu p {
  margin: 6px 2px 0px 6px;
  cursor: pointer;
}
main #customMenu hr {
  margin-top: 6px;
}
main .menu_newClicked {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 200;
  display: none;
  position: absolute;
  color: rgb(52, 52, 52);
  background-color: rgb(184, 184, 184);
  border: 1px solid rgb(117, 117, 117);
  padding: 2px;
  z-index: 9;
  height: 31vh;
  width: 16vw;
  border-radius: 10px;
}
main .menu_newClicked p {
  margin: 6px 2px 0px 6px;
  cursor: pointer;
}
main .menu_newClicked hr {
  margin-top: 6px;
}
main p:active {
  scale: 0.98;
}
main .folderContainer {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  pointer-events: none;
}
main .folderContainer div {
  height: 50px;
  width: 50px;
  pointer-events: auto;
  cursor: pointer;
  position: absolute;
}
main .folderContainer div img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .folderContainer div p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  text-align: center;
  margin-top: -4px;
  white-space: nowrap;
}
main .wallpaperContainer {
  display: none;
  height: 70%;
  width: 70%;
  background-color: rgb(187, 159, 213);
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  flex-direction: column;
  gap: 1rem;
  padding: 15px;
}
main .wallpaperContainer h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
main .wallpaperContainer .top {
  height: 45%;
  width: 100%;
  display: flex;
  gap: 2rem;
  justify-content: center;
  overflow: hidden;
}
main .wallpaperContainer .top img {
  height: 100%;
  width: 50%;
  transition: all 1s ease;
  cursor: pointer;
}
main .wallpaperContainer .top img:hover {
  transform: scale(1.1);
}
main .wallpaperContainer .bottom {
  height: 45%;
  width: 100%;
  overflow: hidden;
  display: flex;
  gap: 2rem;
  justify-content: center;
}
main .wallpaperContainer .bottom img {
  height: 100%;
  width: 50%;
  transition: all 1s ease;
  cursor: pointer;
}
main .wallpaperContainer .bottom img:hover {
  transform: scale(1.1);
}/*# sourceMappingURL=style.css.map */